*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
// colors
 $bgColor:#f8fafc;
$gray:#524f4f;
$lightGray:#94a3b8;
$black:#1a1a1a;
$lightBlack:#777272;
$white:#fff;
$mainGold: #ebc034;

// global var
$letterSpacing:1px;
$lineHeight:1.8rem;
$transition: 0.3s ease-in-out all;

// scroll
body::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  overflow: hidden;
}
body::-webkit-scrollbar-track{
  background-color: #ccc;
}
body::-webkit-scrollbar-thumb{
  background-color:$lightGray ;
}

body{
  background-color: $bgColor;
}
a{
  text-decoration: none;
  &:hover{
    color: $lightGray;
  }
}
ul {
  list-style-type: none;
}


.container{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}