@import 'global.scss';

.home-container{
  .home-info{
     height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../util/img/homeImg.jpg') center/cover no-repeat ;
     background-attachment: fixed;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
    color:$white;
    z-index: 3;
    // padding: 15px 0;
  h2{
        letter-spacing: 1.2rem;
        text-transform: uppercase;
        }
        h2::after{
        content: "";
        width: 8rem;
        height: 2px;
        background-color: $white;
        display: block;
        margin: 20px auto;
        bottom:20px;
      }
    .home-btn{
      text-align: center;
      padding: 1rem 3rem;
      background: transparent;
      outline: none;
      border: .4rem solid $white;
      margin-top: 1rem ;
      transition: $transition;
    }
    .home-btn a{
      color: $white;
      font-size: 1.2rem;
    
    }
    .home-btn:hover {
      background: $white;
    border: .4rem solid $gray;
    
    a{
    color: $gray;
    }
    }
     @media screen and (min-width: 800px) {
     height: 70vh;
        h2::after{
        width: 15rem;
      }
     .home-btn{
      padding: 2rem 4rem;
     }
  }
  }
 .container{
  .home-hero{
     display: flex;
      justify-content: space-between;
      text-align: justify;
      flex-direction: column;
      margin: 20px 0;
    img{
      display: block;
      width: 100%;
      
    }
    h4{
    text-align: center;
    margin-bottom: 10px;
  }
  p{
    word-spacing: 1rem;
    line-height: $lineHeight;
  }
  div{
   padding: 1rem 2rem ;
  }
  button{
  background:transparent;
  color:rgba(35, 35, 216,0.5);
  display: inline-block;
  border-radius: var(--radius);
  // text-transform: capitalize;
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  &:hover{
         color:rgb(35, 35, 216);
  }
  }
  }
  @media screen and (min-width: 800px) {
    .home-hero{
      flex-direction: row;
  img{
    display: block;
    width: 40%;
  }
 
    }
  }
 }
}

.error-container{
  height: calc(100vh - 432px);
.link-container{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    color:rgb(35, 35, 216);
    border: 1px solid rgba(35, 35, 216,0.2);
    border-radius: 10px;
    &:hover{
       color:rgba(35, 35, 216,0.2);
    border: 1px solid rgba(35, 35, 216,0.2);
    }
  p{
     cursor: pointer;
     margin-left: 10px;
    }
  }
}
